<div style="max-width: 1120px; margin: auto">
<ul class="nav nav-pills">
  <li class="active"><a href="#">住</a></li>
  <li><a href="rankings/food">食</a></li>
  <li><a href="rankings/transport">行</a></li>
  <li><a href="rankings/clothes">衣</a></li>
  <li><a href="rankings/miscellaneous">其他</a></li>
</ul>
<div style="height: 20%"></div>

<table id="example" class="display" cellspacing="0" width="100%">
<thead>
<tr>
  <th>排名</th>
  <th>城市</th>
  <th>收入</th>
  <th>住房1</th>
  <th>住房1</th>
  <th>住房1</th>
  <th>住房1</th>
  <th>住房1</th>
  <th>住房1</th>

</tr>
</thead>

<tbody>

<% @cities.each.with_index do |city, index| %>
<tr>
  <td><%= html_escape index+1 %></td>
  <td><%=html_escape city['city_name_cn'] + ', ' + city['country_name_cn'] %></td>
  <td><%=html_escape city['average_monthly_disposable_salary_after_tax'] %></td>
  <td><%=html_escape city['apartment_one_bedroom_in_city_centre'] %></td>
  <td><%=html_escape city['apartment_three_bedrooms_in_city_centre'] %></td>
  <td><%=html_escape city['apartment_three_bedrooms_outside_of_centre'] %></td>
  <td><%=html_escape city['price_per_square_meter_to_buy_apartment_in_city_centre'] %></td>
  <td><%=html_escape city['price_per_square_meter_to_buy_apartment_outside_of_centre'] %></td>
  <td><%=html_escape city['basic_utilities_for_an_apartment'] %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<script>
  $(document).ready(function() {
    $('#example').dataTable(
      {
        "iDisplayLength": 100,
        "bLengthChange": false,
        "bInfo": false,
        "aoColumnDefs": [
          { "bSortable": false, "aTargets": [ 0 ] }
        ],
        "fnDrawCallback": function ( oSettings ) {
          /* Need to redo the counters if filtered or sorted */
          if ( oSettings.bSorted)
          {
            for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
            {
              $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
            }
          }
        }
      }
    );

    $('.dataTables_paginate').parent().removeClass('col-xs-6').addClass('col-xs-12').css('text-align', 'center')
  } );
</script>

