<% cities = @full_named_cities.to_json %>

<div style="text-align: center">
  <%= render partial: "searchboxes", locals: {full_named_cities: @full_named_cities} %>
</div>

      <div class="demo-row">
        <div class="demo-content-wide">
          <table class="table table-striped">
            <tr>
              <th>对比项目</th>
              <th><%= h @city_host.name_cn.force_encoding('utf-8')%></th>
              <th><%= h @city_away.name_cn.force_encoding('utf-8')%></th>
              <th>对比结果</th>
            </tr>


            <tr>
              <td><%= @name_mappings['meal_in_inexpensive_restaurant'].force_encoding('utf-8') %></td>
              <td><%= make_it_price(@city_host.meal_in_inexpensive_restaurant)%></td>
              <td><%= make_it_price(@city_away.meal_in_inexpensive_restaurant)%></td>
              <td><%= comparison_result(city_host:@city_host, city_away:@city_away,  item: :meal_in_inexpensive_restaurant) %></td>
            </tr>

            <tr>
              <td><%= @name_mappings['meal_for_two_in_mid_range_restaurant_three_course'].force_encoding('utf-8') %></td>
              <td><%= make_it_price(@city_host.meal_for_two_in_mid_range_restaurant_three_course)%></td>
              <td><%= make_it_price(@city_away.meal_for_two_in_mid_range_restaurant_three_course)%></td>
              <td><%= comparison_result(city_host:@city_host, city_away:@city_away,  item: :meal_for_two_in_mid_range_restaurant_three_course) %></td>
            </tr>

          </table>
        </div>
      </div>